<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<h2>Dashboard</h2>
<nav>
    <button class="btn" id="home">Home</button>
</nav>
<div class="column"></div>
<div class="newPostCard">
<form class="form post-form">
    <div>
        <label for="post-title">Post Title:</label>
        <input class="form-input" placeholder="Enter a post title." type="text" id="post-title"/>
    </div> 
    <div>
        <label for="post-body">Post Body:</label>
    </div>
    <div>
        <textarea maxLength= "5000" placeholder="What would you like to post?" id="post-body" type="text" class="form-body"></textarea>
    </div>  
    <div>
        <button class="createPostBtn" type="submit">Create Post!</button>
    </div>
</div>   
</form>
</div>

<div class="allPostCards">
{{#each posts as |post|}}
<div class="existingPostCard">
<div class="postBodyText">   
<h2>{{post.postTitle}}</h2>
<p >{{post.postBody}}</p>

<form class="form2" data-id= "{{post.id}}">
    <button id="deletePostBtn" type="submit" >Delete Post!</button>
</form>
</div>
<div class="newCommentCard">
<form class="newComment-form" data-id= "{{post.id}}">
    <label id="newCommentText" for="commentBody">New Comment:</label>
    {{!-- <input class="comment-input" type="text" id="commentBody{{post.id}}"/> --}}
    <textarea id="commentBody{{post.id}}" maxLength= "5000" placeholder="What would you like to comment?" id="inputBody" type="text" class="form-body" ></textarea>
    <button class="addCommentBtn" type="submit">Add Comment</button>
</form>
</div>
</div>
{{/each}}

<div class="existingPostCard">
{{#each comments as |comment|}}
<p>{{comment.commentBody}}</p>
<form class="deleteComment" data-id= "{{comment.id}}">
     <button class="commentDeleteBtn" type="submit">Delete Comment</button>
</form>
<hr id="commentBreak"></hr>
{{/each}}
</div>
</div>


<script src="../js/post.js"></script>
<script src="../js/comment.js"></script>
<script src="../js/dashboard.js"></script>
<script src="/js/logout.js"></script>