<h2>Dashboard</h2>
<nav>
    <button class="btn" id="logout">Logout</button>
    <button class="btn" id="home">Home</button>
</nav>

<form class="form post-form">
    <div>
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="post-title"/>
     </div> 
     <div>
        <label for="post-body">Post Body:</label>
        <input class="form-input" type="text" id="post-body"/>
     </div>  
    <div>
        <button class="createPostBtn" type="submit">Create Post!</button>
    </div>
    
</form>

{{#each posts as |post|}}
<h2>{{post.postTitle}}</h2>
<p>{{post.postBody}}</p>

<form class="form2" data-id= "{{post.id}}">
    
    <div>
        <button id="deletePostBtn" type="submit" >Delete Post!</button>
    </div>
    
</form>

<form class="newComment-form" data-id= "{{post.id}}">
    <label for="commentBody">New Comment:</label>
    <input class="comment-input" type="text" id="commentBody{{post.id}}"/>
    <button class="addCommentBtn" type="submit">Add Comment</button>
</form>
{{/each}}


{{#each comments as |comment|}}
<p>{{comment.commentBody}}</p>
<form class="deleteComment" data-id= "{{comment.id}}">
     <button class="commentDeleteBtn" type="submit">Delete Comment</button>
</form>
{{/each}}


<script src="../js/post.js"></script>
<script src="../js/comment.js"></script>